<div class="search-form">
   <form #imdbForm="ngForm" (ngSubmit)="searchImdb(imdbForm)">
    <label for="searchResult"><h2>Which Movie?</h2></label>
    <input type="text" ngModel name="searchResult"><br><br>
    <button>Search</button>
  </form> 

  <form #genreForm="ngForm" (ngSubmit)="searchGenre(genreForm)">
  <label for="genreResult"><h2>Which Genre</h2></label>
  <input type="text" ngModel name="genreResult"><br><br>
  <button>Search</button>
 </form>

 <form #ratingForm="ngForm" (ngSubmit)="searchRating(ratingForm)">
  <label for="ratingResult"><h2>Rating</h2></label>
  <input type="text" ngModel name="ratingResult"><br><br>
  <button>Search</button>
 </form>

 <form #yearForm="ngForm" (ngSubmit)="searchYear(yearForm)">
  <label for="yearResult"><h2>Year</h2></label>
  <input type="text" ngModel name="yearResult"><br><br>
  <button>Search</button>
 </form>
</div>

<!-- <a routerLink="/watchlist" routerLinkActive="active">Favorites</a>
<router-outlet></router-outlet> -->

 
  <!-- <div *ngFor ="let movie of movieList; index as i">
  <p>Title: {{ movie.title }}</p>
   <p>Description: {{ movie.overview }} </p>
  <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="">
  <span (click)="addFavs(movie)">X</span>

</div> -->

<!-- <movielist></movielist> -->





