form {
    margin: 15px 0px;
   }
 .search-form {
     background-color: #fff;
     width: 300px;
     border-radius: 12px;
     padding: 30px;
     margin: auto;
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
     margin-top: 40px;
 }
input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(214, 214, 214, 0.822);
}
h2 {
    margin-bottom: 2px;
}
label {
    font-size: 24px;
    color: rgb(41, 41, 41);
}

button {
    background-color: #2b6cb0;
    border: 1px solid #2b6cb0;
    color: #fff;
    border-radius: 8px;
    padding: .8rem 2rem;
    cursor: pointer;
}
button:hover {
    opacity: .8;
}