<header class="navHead">
    <nav class="navbar">
      <a class="navlink">Welcome Back Jon!</a>
      <a class="navlink">Edit Account</a>
      <a class="navlink">Find a Theater</a>
    </nav>
   </header>
<section class="routerNav">
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <a routerLink="/movielist" routerLinkActive="active">Movies</a>
    <a routerLink="/watchlist" routerLinkActive="active">Favorites</a>
</section>
<router-outlet></router-outlet>
<!-- <movielist></movielist> -->

