.listcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
    align-self: center;
    margin: 30px;
 }
 
 .movieobject{
    border-radius: 12px;
   justify-content: center;
   align-content: flex-end;
   background-color: #fff;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
   transition: .5s ease-in;
 }
.movieobject:hover {
   transform: scale(1.02);
   transition: .3s ease-out;
}

 .movieText {
    padding: 15px;
    margin-bottom: 2px;
 }
 .extra {
    display: flex;
 }
 .extra span {
   color: grey;
   background-color: rgba(240, 240, 240, 0.911);
   border-radius: 12px;
   padding: 3px 10px;
 }
 #extra-r {
    margin-left: 5px;
 }

 .title {
   font-weight: 800;
}
 
 img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 350px;
 }


 .favIcon {
    width: 30px;
    height:30px;
    position: absolute;
    z-index: 500;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 10px;
 }
 
 
 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 
 SearchCriteria Styles
 
 .search{
    display: flex;
    background-color:rgb(179,178,176, 0.6);
    justify-content: center;
    Height: 50vh;
    width: 50vw;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 400px;
 }
 
 main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 0vh;
    position: relative;
 }
 
 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
 }
 
 input{
    height: 40px;
    width: 500px;
    border-radius: 5px;
    align-items: stretch;
    margin-top: 75px;
    margin-bottom: 75px;
 }
 
 label{
    display: flex;
    justify-content: center;
    font-size: 40px;
 }
 
 button{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
 }

